@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/* global section */

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ebeff0;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overlay-bg {
  background: rgba(0, 0, 0, 0.3);
}

.active {
  color: white !important;
  font-weight: bold;
  padding: 5px 15px;
  background-color: #be322f;
  border-radius: 20px;
  margin-right: 0 !important;
}

/* top-banner section */
.top-banner {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: white;
}

.top-banner > img {
  margin-left: -5px;
}

.top-banner .brand-image {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.search-input {
  border: 0px solid;
  width: 150px;
  height: 30px;
  background-color: #c4c4c4;
  padding-left: 10px;
}

.top-banner button {
  background-color: #be322f;
  border: 0px solid;
  height: 30px;
  margin-left: -10px;
  margin-top: -1px;
}

.search-input:focus {
  outline: none;
}

.search-button {
  width: 20px;
  height: auto;
}

.sign-image {
  width: 30px;
  margin: 0 20px;
}
.fa-search {
  color: white;
}

.button-gabung {
  color: white;
  background: rgb(190, 50, 47);
  background: linear-gradient(
    117deg,
    rgba(190, 50, 47, 1) 0%,
    rgba(244, 67, 54, 1) 100%
  );
}

/* navbar section */

.navbar {
  background-color: white !important;
}

.nav-link {
  color: #be322f !important;
}

.bold {
  font-weight: bold !important;
}

/* banner iklan */
.banner-iklan {
  padding: 0;
}

/* Side Panel Section */
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ebeff0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #111111;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  background-color: #b4b4b4;
  color: #be322f;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 30px;
  margin-left: 50px;
}

.trending {
  width: 100%;
  height: 50px;
  background-color: white;
}

.breaking-left {
  background-color: #be322f;
  height: 100px;
}

.breaking-right {
  background-color: white;
  height: 100px;
}

.breaking-arrow {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #be322f;
  float: left;
}

.news-ticker ul li {
  list-style: none;
  font-size: 13px;
  color: #be322f;
  font-weight: 500;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* small-gutter-section */
/* Footer-section */
.site-footer {
  padding: 4em 0;
  background: #be322f;
}
.site-footer h5 {
  color: white;
}
.site-footer p {
  font-size: 14px;
  margin-bottom: 8px;
  color: white;
}
.site-footer ul li {
  font-size: 15px;
  margin-bottom: 17px;
  color: white;
}

.fab {
  color: white;
}

/* small-gutter-sectiion */
.small-gutter {
  padding: 0;
}
.feature-img-thumb {
  position: relative;
  overflow: hidden;
}

.feature-img-thumb:hover img {
  transform: scale(1.1);
}

.feature-img-thumb > img {
  height: 320px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;
}

.right-img {
  position: relative;
  overflow: hidden;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-img img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.right-content {
  padding-right: 16px;
}

.top-post-detail {
  position: absolute;
  bottom: 30px;
  left: 40px;
}

.top-post-detail .tag li {
  font-size: x-small;
  font-weight: bold;
  margin-bottom: 10px;
  width: fit-content;
  color: white;
  padding: 5px 20px;
  background-color: #eb3f38;
  border-radius: 0 10px 0 10px;
}

.top-post-detail a {
  text-decoration: none;
  color: white;
}

.top-post-detail h3 {
  font-weight: 600;
}

.desc h3 {
  width: 400px;
}
.meta {
  font-weight: 300;
  font-size: x-small;
}

.meta li {
  display: inline-block;
  margin-right: 10px;
}

.meta li i {
  margin-right: 10px;
}

/* berita populer section */
.berita-left {
  position: relative;
  background-clip: content-box;
  height: 700px;
  background-color: white;
  padding: 0 10px 0 0;
}

.berita-left > .heading {
  position: relative;
  margin: 10px;
  height: 40px;
  background: rgb(190, 50, 47);
  background: linear-gradient(
    117deg,
    rgba(190, 50, 47, 1) 0%,
    rgba(244, 67, 54, 1) 100%
  );
}

.berita-left > .heading > p {
  font-weight: bold;
  padding: 10px;
  color: white;
}

.berita-left .tag li,
.berita-right .tag li {
  color: #be322f;
  display: inline-block;
  margin: 5px 10px;
  font-size: small;
}

.berita-left .scroll-view {
  height: 600px;
  margin: 0 10px;
  position: relative;
  overflow: auto;
}

.berita-left .scroll-view .content {
  height: 200px;
  margin: 10px;
}

.berita-left .scroll-view .content .left-content {
  padding: 0;
  position: relative;
}

.berita-left .scroll-view .content .content-image {
  height: 200px !important;
  width: auto;
  object-fit: cover;
}

.berita-left .scroll-view .content .meta,
.berita-right .image-heading .meta {
  width: fit-content;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #eb3f38;
  padding: 2px 10px;
  border-radius: 0 10px 0 10px;
  color: white;
  font-size: x-small;
  font-weight: bold;
}

.berita-left .right-content {
  padding: 15px;
}

.berita-left .right-content h5 {
  color: #092c4c;
  font-weight: 600;
}

.berita-left .right-content .date a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: small;
}

.berita-left .right-content .date i {
  margin-right: 10px;
}

.berita-left .right-content p {
  font-size: small;
  color: #b4b4b4;
  font-weight: 500;
}

.berita-right {
  background-color: white;
  background-clip: content-box;
  padding-right: 0px;
  height: 580px;
}

.berita-right .heading {
  position: relative;
  margin: 10px;
  height: 40px;
  background: rgb(190, 50, 47);
  background: linear-gradient(
    117deg,
    rgba(190, 50, 47, 1) 0%,
    rgba(244, 67, 54, 1) 100%
  );
}

.berita-right > .heading > p {
  font-weight: bold;
  padding: 10px;
  color: white;
}

.berita-right .image-heading {
  margin: 10px;
  padding: 0;
}

.berita-right .heading-title {
  padding: 0 10px;
  color: #092c4c;
  font-weight: bolder;
  font-size: smaller;
}

.berita-right .heading-desc {
  font-size: small;
  color: #c4c4c4;
  padding: 0 10px;
}
.berita-right .mini-section {
  margin: 10px;
}
.berita-right .mini-image {
  padding: 0;
}

.berita-right .mini-title {
  padding-top: 10px;
  font-size: x-small;
  font-weight: bolder;
  color: #092c4c;
}

.berita-right .mini-desc {
  font-size: xx-small;
  color: #c4c4c4;
  margin-bottom: 0;
}

.berita-right #see-more {
  padding: 10px;
  font-size: small;
  text-decoration: none;
  color: #be322f;
  font-weight: bolder;
}

.banner-iklan-400x100 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  background-color: white;
  width: 325px;
}

.banner-iklan-400x100 .banner-info {
  margin: 10px;
  height: 80px;
  text-align: center;
  padding: 20px;
  color: aliceblue;
  background-color: #c4c4c4;
  border-radius: 10px;
  height: 1;
}
/* footer section */
.site-footer {
  padding: 4em 0;
  background: #be322f;
}
.site-footer h5 {
  color: white;
}
.site-footer p {
  margin-bottom: 8px;
  color: white;
}
.site-footer ul li {
  margin-bottom: 22px;
  color: white;
}

/* custom-container  */
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
